/* layout */
#mainSection{width: 1420px; margin: 0 auto;}
#section{padding-top: 110px;}

/* asideL */
#asideL{width: 300px; height: 100%; padding-bottom: 30px;}
	#asideL>ul>li>a{font-size: 1.188em; font-weight: bold; color: #595959; text-align: left; width: 220px; height: 59px; line-height: 59px; padding-left: 19px; background: #fafafa; border: 1px solid #e4e4e4;}
	#asideL>ul>li>a>img{float: right; padding: 23px 8px 0 0;}
	#asideL .sub{display: none;}
	#asideL .sub a{font-size: 1em; color: #595959; text-align: left; width: 220px; height: 44px; line-height: 44px; padding-left: 19px; background: #ffffff; border: 1px solid #e4e4e4;}
	#asideL .sub a:hover{background: #f5f5f5;}
	
/* coursesWrap */
#coursesWrap{width: 1120px;}
	#coursesHeader{width: 100%; height:75px;}
	#coursesHeader .searchArea{width: 410px; height: 50px;}
	#coursesHeader{border-bottom: 1px solid #dedede; margin-bottom: 12px;}
	#coursesHeader form input[type="text"]{width: 330px; height: 50px; border: 1px solid #dedede; padding-left: 10px; vertical-align: middle;}
	#coursesHeader form input[type="text"]:focus{outline: 1px solid #1dc078; border-radius: 4px;}
	#coursesHeader form input[type="button"]{width: 60px; height: 52px; background: #1dc078; color: #ffffff; padding: 10px 10px; font-size: 1em; font-weight: bold; cursor: pointer; margin-left: -5px; vertical-align: middle;}
	
	#couresesMain .tagSkills{width: 1120px;}
	#couresesMain .tagSkills h2{font-size: 1.375em; color: #454545; text-indent: -1px; margin-bottom: 14px;}
	#couresesMain .tagSkills form{float: left; margin-right: 10px;}
	#couresesMain .tagSkills form input[type="text"]{background: #f6f6f6; width: 157px; height: 35px; border: 1px solid #dedede; padding-left: 10px; border-radius: 4px 0 0 4px;}
	#couresesMain .tagSkills form input[type="text"]:hover{border: 1px solid #999999;}
	#couresesMain .tagSkills form input[type="text"]:focus{outline: 1px solid #1dc078;}
	#couresesMain .tagSkills form input[type="button"]{width: 35px; height: 37px; background: #1dc078; color: #ffffff; font-weight: bold; cursor: pointer; border-radius: 0 4px 4px 0; line-height: 37px; margin-left: -5px;}
	#couresesMain .tagSkills span{padding: 7px 13px; background: #b8b8b8; color: #ffffff; font-weight: bold; margin-right: 10px; border-radius: 5px; font-size: 1.125em; float: left; display: block; margin-bottom: 10px; cursor: pointer;}
	#couresesMain .tagSkills span.blue{background: #3298dc;}
	#couresesMain .searchFilter{width: 1120px; height: 80px;}
	#couresesMain .searchFilter ul{width: 420px; height: 47px; border: 1px solid #bbbbbb; border-radius: 5px;}
	#couresesMain .searchFilter ul li{float: left; margin-left: 6.5px;}
	#couresesMain .searchFilter ul li img{margin-left: 12px; vertical-align: middle;}
	#couresesMain .searchFilter ul li a{text-align: center; font-size: 1em; font-weight: bold; color: #abb0b5; line-height: 47px;}
	#couresesMain .searchFilter ul li a.filter{color: #3e4042;}
	
	/* common */
	.mainContent .content{width: 23%; height: 370px; margin: 1% 1% 1% 1%; cursor: pointer;}
	.mainContent .content:hover img{transform: scale(1.1); transition: all .60s; box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);}
	.mainContent .content figure{width: 100%; overflow: hidden;}
	.mainContent .content img{display: block; margin-bottom: 14px; width: 100%;}
	.mainContent .content h3{line-height: 1.4; color: #353535; margin-bottom: 3px; /* text-align: justify; */ height: 52.4px; letter-spacing: -0.9px; padding: 0 6px;}
	.pink{background: #f6d5ea;}
	.blue{background: #c5e3f9;}
	.pink2{background: #ffc8c7;}
	.mint{background: #bee7fe;}
	h2.titleText a{color: #1e1e1e; font-size: 1.75em; letter-spacing: -1.5px; margin-bottom: 10px;}
	h2.titleText span{font-size: 0.938em; white-space: pre; letter-spacing: 0; color: #ff0000;}
	.subText{font-size: 1.125em; letter-spacing: -1.5px; margin-bottom: 28px; color: #757575;}
	.name{letter-spacing: 1px; margin-bottom: 3px; color: #848484; padding-left: 6px;}
	.grade{margin-bottom: 8px; padding-left: 6px;}
	.grade i{background: url(../images/graderStar.png) repeat-x 0 center; width: 140px; height: 20px; vertical-align: bottom; display: inline-block;}
	.grade span{font-size: 0.750em; line-height: 20px;}
	.price{font-size: 1.250em; letter-spacing: 0.5px; color: #003ab1; margin-bottom: 20px; font-weight: bold; padding-left: 6px;}
	.price span{text-decoration: line-through; font-size: 1em; color: #838383; margin-right: 6px;}
	.tag span{font-size: 0.875em; padding: 6px 14px; margin-right: 8px; border-radius: 5px; display: block;}
	.tag{padding-left: 6px; float: left;}
	
/* page 페이지 번호*/
#page{position: relative; margin: 55px 0 70px;}
.pageNumber{position: relative; float: left; left: 50%;}
.pageNumber div{position: relative; float: left; left: -50%; padding: 5px 10px; margin: 0 10px; cursor: pointer; border: 1px solid #dee2e6; border-radius: 5px; color: #363636; font-size: 0.750em;}
#page .prev{position: absolute; left: 0; top: 0;}
#page .next{position: absolute; right: 0; top: 0;}
#page button{background-color: #ffffff; color: #363636; padding: 5px 10px; border-radius: 5px; color: #363636; font-size: 0.750em; border: 1px solid #dee2e6;}
.pageNumber div:hover{border: 1px solid #616568;}
#page button:hover{cursor: pointer; border: 1px solid #616568;}
#page .active{cursor: default; background-color: #00c471; color: #ffffff;}
#page .active:hover{border: 1px solid #dee2e6;}




@media screen and (min-width:768px) and (max-width:1023px) {
	#asideL{display: none;}
	#section{width: 100%;}
	#mainSection{width: 90%;}
	#coursesWrap{width: 100%;}
	#couresesMain{width: 100%;}
	#couresesMain .tagSkills{width: 100%;}
	#couresesMain .searchFilter{width: 100%;}
	.mainContent{margin-bottom: 50px;;}
	.mainContent .content{width: 31.3333%; height: 100%; margin: 1% 1% 1% 1%;}
	.mainContent .content.last{display: none;}
	#page{height: 28px; margin: 0 0 50px 0;}
	#page button{padding: 5px 5px}
	#page .pageNumber{width: auto; transform: translate(-50%, 0);}
	#page .pageNumber div{margin: 0 3px; left: 0;}
	.mainContent .content h3{height: auto; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
} /* 태블릿 */

@media screen and (max-width:767px) {
	#asideL{display: none;}
	#section{width: 100%;}
	#mainSection{width: 90%;}
	#coursesWrap{width: 100%;}
	#couresesMain{width: 100%;}
	#couresesMain .tagSkills{width: 100%;}
	.mainContent{margin-bottom: 50px;}
	.mainContent .content:nth-child(5){clear: both;}
	.mainContent .content:nth-child(9){clear: both;}
	.mainContent .content:nth-child(11){clear: both;}
	.mainContent .content{width: 48%; height: 100%; margin: 1% 1% 1% 1%;}
	.mainContent .content.last{display: block;}
	.mainContent .content h3{height: 26px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
	#couresesMain .tagSkills span{padding: 5px 10px; background: #b8b8b8; color: #ffffff; font-weight: normal; margin-right: 10px; border-radius: 5px; font-size: 0.8em; float: left; display: block; margin-bottom: 10px; cursor: pointer;}
	.grade span{font-size: 0.550em;}
	.price{font-size: 1em;}
	.price span{font-size: 0.8em;}
	.tag span{font-size: 0.7em;}
	#coursesHeader form input[type="text"]{height: 30px;}
	#coursesHeader form input[type="button"]{height: 32px;  padding: 5px 10px; font-size: 0.9em;}
	#coursesHeader{height: auto;}
	#couresesMain .tagSkills h2{font-size: 1.1em; font-weight: normal;}
	#couresesMain .searchFilter{height: auto; width: 100%; margin: 10px 0;}
	#couresesMain .searchFilter ul{height: 40px; width: 360px;}
	#couresesMain .searchFilter ul li a{font-size: 0.9em; line-height: 40px; font-weight: normal;}
	#page{height: 28px; margin: 0 0 50px 0;}
	#page button{padding: 5px 5px}
	#page .pageNumber{width: auto; transform: translate(-50%, 0);}
	#page .pageNumber div{margin: 0 3px; left: 0;}
	#page .pageNumber .dn{display: none;}
	
	#couresesMain .tagSkills form input[type="button"]{height: 31px; line-height: 31px; box-sizing: border-box;}
	#couresesMain .tagSkills form input[type="text"]{width: 150px; height: 30px; box-sizing: border-box;}
	
} /* 모바일 */










