@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Poiret+One);

/* reset */
*{margin: 0; padding: 0;}
*:focus{outline: none;}
html{scroll-behavior:smooth; overflow-y: scroll; overflow-x: hidden;}
body{font:15px/1.6 'Kanit', sans-serif; color:#201f23; transition: all 0.4s;}
ol, ul, li{list-style: none;}
a{text-decoration: none; color: var(--conC);}
img{border: 0; vertical-align: middle;}
.cf:after{content: ""; display: block; clear: both;}
.fl{float: left;}
.fr{float: right;}
